<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.first_name %>, welcome to Julie's events!</h1>
    <p>
      You just signed up with this email address: <%= @user.email %>.
    </p>
    <p>
      Check this link: <a href="https://julievent.herokuapp.com"><%= @url %></a>.
    </p>
    <p> See you very soon!
  </body>
</html>
