<h1>Edit your event (ID: <%=@event.id %>) </h1>
<% holders = [@event.title, @event.description, @event.location, @event.start_time, @event.duration, @event.price] %>
<%= render partial: "form", locals:{holders: holders, action: "update", method:"put"} %>
