<h4>Hey
  <% unless user_signed_in? && current_user.first_name != nil && current_user.first_name != ""%>
    dear user!
  <% else %>
    <%= current_user.first_name%>!
  <% end %>
</h4>
<% events = @events.where(validated: true)%>
<h5>have a look at our <%= events.length%> FA-BU-LOUS events<br />
  OR<br />
  <% if user_signed_in? %>
    create your own <a href="/events/new">here</a>!</h5>
  <% else %>
    create your own <a href="/users/sign_in">here</a>!</h5>
  <% end %>
<br />
<%= render partial: "list", locals:{events: events} %>
