<div class = "body">
  <div>
    <h1>This is to create your own event </h1>
    <% holders = ["ex: riverside afterwork", ""] %>
    <%= render partial: "form", locals:{holders: holders, action: "create", method:"post"} %>
  </div>
</div>
